---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout
  title="A propos"
  description="A propos de Marie Durrmeyer">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="A propos"
        tagline="Découvrez mon parcours et mes compétences.">
        <img
          width="1553"
          height="873"
          src="/assets/dossier.jpg"
          alt="Parcours de Marie"
        />
      </Hero>

      <section>
        <h2 class="section-title">A propos</h2>
        <div class="content">
          <p>
            Les 15 ans d'expériences professionnelles m'ont apporté la capacité
            de travailler en équipe et d'être à l'écoute . Suite à une
            expérience académique 1 an et demi , j'ai appris à être autodidacte,
            autonome et à rebondir afin d'atteindre les objectifs.
          </p>
          <p>
            J'ai également participé à un projet basé sur l'expérience
            utilisateur, suite à une formation innovante avec Warren Walter, en
            tant de développeuse sprint master. Cela nous a permis de travailler
            en équipe pour pouvoir passer d’une problématique à un prototype
            testé par des utilisateurs·trices a l'aide d'atelier rythmés et
            chronométrés.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Diplôme</h2>
        <div class="content">
          <p>BAC+2 Développeuse Web.</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Expériences professionnelles</h2>
        <div class="content">
          <h3>PimpMyApp</h3>
          <h4>10 au 21 octobre 2022</h4>
          <br />
          <p>
            Méthodologie Design Sprint pour créer un prototype d'application en
            réponse à la problématique posée par notre partenaire. <br /> Comprendre le
            besoin. <br /> Atelier Prototypage . <br /> Utilisation Outil design d’interface
            Figma. <br /> Test Utilisateur Rendre un livrable du projet
          </p>
        </div>
          <div class="content">
          <h3>PimpMyApp</h3>
          <h4>10 au 21 octobre 2022</h4>
          <br />
          <p>
            Méthodologie Design Sprint pour créer un prototype d'application en
            réponse à la problématique posée par notre partenaire. <br /> Comprendre le
            besoin. <br /> Atelier Prototypage . <br /> Utilisation Outil design d’interface
            Figma. <br /> Test Utilisateur Rendre un livrable du projet
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>Autonome, Polyvalente, travail d'équipe, Curieuse</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }
  h3 {
    font-size: var(--text-lg);
  }
  h4 {
    font-size: var(--text-md);
  }
  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
