---
import Icon from './Icon.astro';
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <h2>Certificats</h2>
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Méthodologie Design Sprint</h2>
    <p>
      Méthodologie Design Sprint pour créer un prototype d'application en
      réponse à la problématique posée par notre partenaire. Comprendre le
      besoin. Atelier Prototypage . Utilisation Outil design d’interface Figma.
      Test Utilisateur Rendre un livrable du projet
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="trophy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Concevoir des interfaces accessibles</h2>
    <p>
      approfondir la compréhension de l'accessibilité numérique et apprendre les
      meilleures pratiques pour créer des produits et des expériences
      inclusives.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Apprendre</h2>
    <p>Urna porttitor rhoncus dolor purus non enim praesent ornare.</p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
